container_commands:
01_cron_job: command: "cat .ebextensions/cron_job.txt > /etc/cron.d/cron_job && chmod 644 /etc/cron.d/cron_job"
leader_only: true


container_commands:
  01_remove_old_cron_jobs: command: "crontab -r || exit 0"
  02_cronjobs: command: "cat .ebextensions/cron_job.txt | crontab"
  leader_only: true