packages:
  yum:
    varnish: []
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_restart_delayed_job.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
       cp -f /var/app/current/varnishconfig/default.vcl /etc/varnish
  "/etc/sysconfig/varnish" :
    owner: root
    group: root
    content: |
     START=yes
        NFILES=131072
        MEMLOCK=82000
        DAEMON_OPTS="-a :80 \
             -T localhost:6082 \
             -f /etc/varnish/default.vcl \
             -S /etc/varnish/secret \
             -p cli_buffer=26384 \
             -p esi_syntax=0x02 \
             -s file,/var/lib/varnish/$INSTANCE/varnish_storage.bin,1G"
  "/etc/varnish/secret" :
    owner: root
    group: root
    content: |
         9b390a06-5013-4bb2-a38c-2da4e49a9d79
commands:
  # configure apache
  010_httpd.conf :
    command: "sed -i 's/Listen 8080/Listen 80/g' /etc/httpd/conf/httpd.conf"
  011_httpd.conf :
    command: "sed -i 's/Listen 80/Listen 8080/g' /etc/httpd/conf/httpd.conf"
  # configure varnish
  040_varnish:
    command: "sed -i 's/VARNISH_LISTEN_PORT=6081/VARNISH_LISTEN_PORT=80/g' /etc/sysconfig/varnish"
  041_varnish:
    command: "sed -i 's/VARNISH_ADMIN_LISTEN_PORT=6082/VARNISH_ADMIN_LISTEN_PORT=2000/g' /etc/sysconfig/varnish"
  042_varnish:
    command: "service varnish restart"
services:
  sysvinit:
    varnish:
      enabled: true
      ensureRunning: true